/*Styles compartilhados pelos elementos presentes na seção horizontal e elementos da seção vertical*/

.section__title, 
.card__title {
    font-weight: 700;
}

.section__title {
    font-size: 1.5rem;
}

.card__title{
    line-height: 22px;
}

.card__subtitle {
    font-size: 14px;
}